{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- top header wrapper start -->
    <div class="page_title_section">

        <div class="page_header">
            <div class="container">
                <div class="row">
                    <!-- section_heading start -->
                    <div class="col-lg-9 col-md-9 col-12 col-sm-8">

                        <h1>pricing table</h1>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12 col-sm-4">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="/"> Home </a>&nbsp; / &nbsp; </li>
                                <li>pricing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- top header wrapper end -->
  <!-- pricing plan wrapper start-->
    <div class="pricing_plan_wrapper jb_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                    <div class="jb_heading_wraper">

                        <h3>choose pricing plan</h3>

                        <p>Your next level Product developemnt company assets</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="pricing_box_wrapper jb_cover">
                        <h1>basic plan</h1>
                        <div class="main_pdet jb_cover">

                            <h2><span class="dollarr"> $ </span> 29 </h2> <span class="monthly"> / per month</span>
                        </div>
                        <ul class="pricing_list22">
                            <li>5 Jobs Posting
                            </li>
                            <li>2 Featured jobs
                            </li>
                            <li>
                                1 Renew Jobs

                            </li>
                            <li>10 Days Duration
                            </li>
                            <li>Email Alert

                            </li>

                        </ul>
                        <a href="#" class="price_btn">select plan</a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="pricing_box_wrapper jb_cover">
                        <h1>premium plan</h1>
                        <div class="main_pdet jb_cover">

                            <h2><span class="dollarr"> $ </span> 49 </h2><span class="monthly"> / per month</span>
                        </div>
                        <ul class="pricing_list22">
                            <li>5 Jobs Posting
                            </li>
                            <li>2 Featured jobs
                            </li>
                            <li>
                                1 Renew Jobs

                            </li>
                            <li>10 Days Duration
                            </li>
                            <li>Email Alert

                            </li>

                        </ul>
                        <a href="#" class="price_btn">select plan</a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="pricing_box_wrapper jb_cover">
                        <h1>advanced plan</h1>
                        <div class="main_pdet jb_cover">

                            <h2><span class="dollarr"> $ </span> 69 </h2> <span class="monthly"> / per month</span>
                        </div>
                        <ul class="pricing_list22">
                            <li>5 Jobs Posting
                            </li>
                            <li>2 Featured jobs
                            </li>
                            <li>
                                1 Renew Jobs

                            </li>
                            <li>10 Days Duration
                            </li>
                            <li>Email Alert

                            </li>

                        </ul>
                        <a href="#" class="price_btn">select plan</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- pricing plan wrapper end-->
   
	 <!-- chat box Wrapper start -->
	<div id="chat-circle" class="btn btn-raised"> 
		<i class="fas fa-comment-alt"></i>
	</div>
  <div class="chat-box">
    <div class="chat-box-header">
      ChatBot
      <span class="chat-box-toggle"><i class="fas fa-times"></i></span>
    </div>
    <div class="chat-box-body">
      <div class="chat-box-overlay">   
      </div>
      <div class="chat-logs">
       
      </div><!--chat-log -->
    </div>
    <div class="chat-input">      
      <form>
        <input type="text" id="chat-input" placeholder="Send a message..."/>
      <button type="submit" class="chat-submit" id="chat-submit"><i class="fas fa-paper-plane"></i></button>
      </form>      
    </div>
  </div>
  <!-- chat box Wrapper end -->
    <!--custom js files-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/jquery.menu-aim.js"></script>
    <script src="js/plugin.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/dropify.min.js"></script>
	 <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- custom js-->
{% endblock content %}