<body class="rtl_main_header">
    <!-- lang_wrapper Start -->
    <div class="hs_lang_wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <ul class="icon_list_news social_icon_topheader2">
                        <li><a href="#"><i class="fab fa-facebook-f mt-2"></i></a></li>
                        <li>
                            <a href="#"><i class="fab fa-twitter mt-2"></i>
                                </a>
                        </li>
                        <li><a href="#"><i class="fab fa-linkedin-in mt-2"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g mt-2"></i></a></li>
                    </ul>
                    </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div id="google_translate_element"></div>
                </div>		
            </div>
        </div>
    </div>
    <!-- lang_wrapper end -->

{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- navi wrapper End -->
    <!-- top header wrapper start -->
    <div class="page_title_section">

        <div class="page_header">
            <div class="container">
                <div class="row">
                    <!-- section_heading start -->
                    <div class="col-lg-9 col-md-9 col-12 col-sm-8">

                        <h1>Blog listing</h1>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12 col-sm-4">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="#"> Home </a>&nbsp; / &nbsp; </li>
                                <li>blog listing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- top header wrapper end -->
    
    <!--job listing filter  wrapper start-->
    <div class="job_filter_listing_wrapper jb_cover rowMB">
        <div class="container">
            <div class="row pl-3">
                <div class="col-12 col-lg-8 col-md-12">
                    <div class="row">
                        <h1 class="blogtitle">Lorem Ipsum</h1>
                    </div>
                    <div class="row mt-2 border-bottom">
                        <p class="pb-3">
                            <span class="mr-2">13 April 2021</span>
                            <span class="border-right mr-2"></span>
                            <span class="">Lorem Ipsum</span>
                        </p>
                    </div>
                    <div class="row mt-4"> 
                        <p>     
                            <img class="bloglistImg" src="https://ichef.bbci.co.uk/onesport/cps/624/cpsprodpb/12D4/production/_116202840_carabaocupfinal.jpg" width="749px" alt="logoo" >

                        </p>
                        <p class="greyBG pl-3 pr-2 pt-2 pb-2">
                            <span class="">Many desktop publishing packages and web page editors now use Lorem Ipsum.</span>
                        </p>
                    </div>
                    <div class="row mt-4 mr-4">
                        <p>
                            <h6 class="blogtitle">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</h6>
                        </p>
                        <p class="mt-4 blackText">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        </p>
                        <p class="mt-4 blackText">
                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33
                        </p>
                        <p class="mt-4 blackText">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        </p>
                        <p class="mt-4 blackText">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                        </p>
                        <p class="mt-4 blackText">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        </p>
                        <p class="mt-4 blackText">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                        </p>
                        <p class="mt-4 blackText">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                        </p>
                    </div>

                </div>
                <div class="col-12 col-lg-4 col-md-12">
                    <div class="row imgPL">
                        <div class="row border-left pl-4 bd_row">
                            <div class="row">
                                <h5 class="pl-3 ">Top Stories</h5>
                            </div>
                            <div class="row mt-4">
                                <div class="col-6">
                                    <a href="#">
                                        <img class="imgblog" src="https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/17065/production/_117890349_gettyimages-1311488747.jpg" alt="logo" width="180px" />
                                    </a>
                                </div>
                                <div class="col-6">
                                    <h5>
                                        <a href="#" class="blogtitle title">Lorem Ipsum is simply dummy text of the printing.</a>
                                    </h5>
                                    <p class="pb-3">
                                        <span class="mr-2">10 hr</span>
                                        <span class="border-right mr-2"></span>
                                        <span class="">Lorem Ipsum</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-6">
                                    <a href="#">
                                        <img class="imgblog" src="https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/17065/production/_117890349_gettyimages-1311488747.jpg" alt="logo" width="180px" />
                                    </a>
                                </div>
                                <div class="col-6">
                                    <h5>
                                        <a href="#" class="blogtitle title">Lorem Ipsum is simply dummy text of the printing.</a>
                                    </h5>
                                    <p class="pb-3">
                                        <span class="mr-2">12 hr</span>
                                        <span class="border-right mr-2"></span>
                                        <span class="">Lorem Ipsum</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-6">
                                    <a href="#">
                                        <img class="imgblog" src="https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/17065/production/_117890349_gettyimages-1311488747.jpg" alt="logo" width="180px" />
                                    </a>
                                </div>
                                <div class="col-6">
                                    <h5>
                                        <a href="#" class="blogtitle title">Lorem Ipsum is simply dummy text of the printing.</a>
                                    </h5>
                                    <p class="pb-3">
                                        <span class="mr-2">13 hr</span>
                                        <span class="border-right mr-2"></span>
                                        <span class="">Lorem Ipsum</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4 w-150 rowWidth">
                            <div class="card w-100 greyBG pl-4 pt-4 pb-4 pr-4 cardBorder">
                                <h5 class="mb-4">Elsewhere on the JobWorth</h5>
                                <div class="row pl-3">
                                   
                                    <p>
                                        <a href="#">
                                            <img class="sectionImg" src="https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/17065/production/_117890349_gettyimages-1311488747.jpg" alt="logo" width="320px" />
                                            
                                        </a>
                                    </p>
                                    <p class="mt-2">
                                        <h5 class="mt-2">
                                            <a href="#" class="blogtitle">Lorem Ipsum is simply dummy text of the printing.</a>
                                        </h5>
                                    </p>
                                    <p class="mt-2 lineHt">
                                        It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old
                                    </p>
                                    <p class="mt-4">
                                        <a href="#">
                                            <img class="sectionImg" src="https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/17065/production/_117890349_gettyimages-1311488747.jpg" alt="logo" width="320px" />
                                            
                                        </a>
                                    </p>
                                    <p class="mt-2">
                                        <h5 class="mt-2">
                                            <a href="#" class="blogtitle">Lorem Ipsum is simply dummy text of the printing.</a>
                                        </h5>
                                    </p>
                                    <p class="mt-2 lineHt">
                                        It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4 w-150 rowWidth">
                            <div class="card w-100 greyBG pl-4 pt-4 pb-4 pr-4 cardBorder">
                                <h5 class="mb-4">Also in sports</h5>
                                <div class="row pl-3">
                                    
                                    <p>
                                        <a href="#">
                                            <img class="sectionImg" src="https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/89C4/production/_117886253_hi066657374.jpg" alt="logo" width="320px" />
                                            
                                        </a>
                                    </p>
                                    <p class="mt-2">
                                        <h5 class="mt-2">
                                            <a href="#" class="blogtitle">Lorem Ipsum is simply dummy text of the printing.</a>
                                        </h5>
                                    </p>
                                    <p class="mt-2 lineHt">
                                        It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old
                                    </p>
                                    <p class="mt-4">
                                        <a href="#">
                                            <img class="sectionImg" src="https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/89C4/production/_117886253_hi066657374.jpg" alt="logo" width="320px" />
                                            
                                        </a>
                                    </p>
                                    <p class="mt-2">
                                        <h5 class="mt-2">
                                            <a href="#" class="blogtitle">Lorem Ipsum is simply dummy text of the printing.</a>
                                        </h5>
                                    </p>
                                    <p class="mt-2 lineHt">
                                        It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--job listing filter  wrapper end-->

    <script src="{% static 'dashboard/js/google_translate.js' %}"></script>
	<script src="{% static 'dashboard/js/lang_translate.js' %}"></script>
   

{% endblock content %}

</body>