{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- top header wrapper start -->
        <div class="page_title_section">

            <div class="page_header">
                <div class="container">
                    <div class="row">
                        <!-- section_heading start -->
                        <div class="col-lg-9 col-md-8 col-12 col-sm-7">
    
                            <h1>About Us</h1>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12 col-sm-5">
                            <div class="sub_title_section">
                                <ul class="sub_title">
                                    <li> <a href="/"> Home </a>&nbsp; / &nbsp; </li>
                                    <li>About Us</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- top header wrapper end -->

    <!-- work Wrapper Start -->
    <div class="iner_abt_wrapper jb_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                    <div class="about_slider_wrapper float_left">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="about_image">
                                    <img src="{% static 'images/about_us1.jpg'%}" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="about_image">
                                    <img src="{% static 'images/img3.jpg'%}" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="about_image">
                                    <img src="{% static 'images/img2.jpg'%}" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="about_image">
                                    <img src="{% static 'images/about_us2.jpg'%}" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 col-12 col-sm-12 offset-lg-1">
                    <div class="about_text_wrapper">
                        <p left_jb_jeading style="text-align:left">
                            Once in a century, a pandemic will strike and change the way we live and work. We are that generation that challenge this hardship. 
                        </p><br>

                        <p left_jb_jeading style="text-align:left">
                            Companies are accelerating digital solutions in every aspect of our lives. Jobs are increasingly demanding on digital 
                            job skills. The current situation moved people to re-think how career planning should be done.
                        </p><br>

                        <p left_jb_jeading style="text-align:left">
                            We are a team who saw how work could consume the time we had for the advancement of our job skills, networking, and development of 
                            our actual JobWorth. We choose to help this generation to accelerate digital solutions in career planning. 
                        </p><br>

                        <p left_jb_jeading style="text-align:left">
                            The vision of JobWorth is to be a leading technology company by leveraging on advanced technology to achieve higher 
                            worth for Candidates and Employers.
                        </p><br>

                        <p left_jb_jeading style="text-align:left">
                            The mission of JobWorth is to help Candidates get a headstart in crafting their careers.
                        </p>
                        <h5> - by <span> DC</span> (Founder) </h5>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- work Wrapper end -->
    <!-- counter wrapper start-->
    <div class="counter_wrapper jb_cover">
        <div class="counter_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="counter_mockup_design jb_cover">
                        <div class="animation-circle-inverse"><i></i><i></i><i></i></div>
                        <img src="{% static 'images/mockup2.png'%}" class="img-responsive" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="counter_right_wrapper jb_cover">
                        <h1>JobWorth's Market Share</h1>
                        <div class="counter_width">
                            <div class="counter_cntnt_box">

                                <div class="count-description"><span class="timer">1</span>
                                    <p class="con2">Presence in Countries </p>
                                </div>
                            </div>
                        </div>
                        <div class="counter_width">
                            <div class="counter_cntnt_box">

                                <div class="count-description"> <span class="timer">2500</span>
                                    <p class="con2">Registered Candidates</p>
                                </div>
                            </div>
                        </div>
                        <div class="counter_width">
                            <div class="counter_cntnt_box">

                                <div class="count-description"> <span class="timer">150</span>
                                    <p class="con2">Registered Employers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter wrapper end-->

    <!-- team wrapper start-->
    <div class="team_wrapper jb_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                    <div class="jb_heading_wraper">

                        <h3>Our Team</h3>

                        <p>The people who work at JobWorth share the vision and values of our community</p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="team_slider_wrapper jb_cover">
                        <div class="owl-carousel owl-theme">
                            <div class="item">

                                <div class="team_slider_content jb_cover">
                                    <div class="team_slider_img_box jb_cover">
                                        <img src="{% static 'images/ppl3.jpg'%}" alt="img" class="img-responsive">
                                    </div>
                                    <div class="team_slider_content_btm jb_cover">
                                        
                                        <h2><a href="#">DC, Founder</a></h2>
                                        <p>Product advocate. Specialist in Infomation communication technology.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">

                                <div class="team_slider_content jb_cover">
                                    <div class="team_slider_img_box jb_cover">
                                        <img src="{% static 'images/ppl2.jpg'%}" alt="img" class="img-responsive">
                                    </div>
                                    <div class="team_slider_content_btm jb_cover">
                                        <h2><a href="#">BOSS, Ops</a></h2>
                                        <p>Operations and Support specialist. Supporting the business flow 24/7, with professionalism!</p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">

                                <div class="team_slider_content jb_cover">
                                    <div class="team_slider_img_box jb_cover">
                                        <img src="{% static 'images/ppl1.jpg'%}" alt="img" class="img-responsive">
                                    </div>
                                    <div class="team_slider_content_btm jb_cover">
                                        <h2><a href="#">Jodia, A.I.</a></h2>
                                        <p>Proven artificial intelligence solutions to make the world a better place.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="team_slider_content jb_cover">
                                    <div class="team_slider_img_box jb_cover">
                                        <img src="{% static 'images/ppl4.jpg'%}" alt="img" class="img-responsive">
                                    </div>
                                    <div class="team_slider_content_btm jb_cover">
                                        <h2><a href="#">Gwen, C.S.</a></h2>
                                        <p>Customer Service Champion to help you take care of your enquiries.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team wrapper end-->
    
    <!-- download app wrapper end-->
    <div class="jb_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="job_newsletter_wrapper jb_cover">
                        <div class="jb_newslwtteter_left">
                            <h2> Find out about the services we offer.</h2>
                            <p>JobWorth's innovative services ensure that you get a headstart in crafting your career.</p>
                        </div>
                        <div class="jb_newslwtteter_button">
                            <div class="header_btn search_btn news_btn jb_cover">

                                <a href="{% url 'our_services'%}">Find out more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}