{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- top header wrapper start -->
    <div class="page_title_section">

        <div class="page_header">
            <div class="container">
                <div class="row">
                    <!-- section_heading start -->
                    <div class="col-lg-9 col-md-8 col-12 col-sm-7">

                        <h1>Our Services</h1>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 col-sm-5">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="/"> Home </a>&nbsp; / &nbsp; </li>
                                <li>Our Services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- top header wrapper end -->    

    <!-- work Wrapper Start -->
    <div class="iner_abt_wrapper jb_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                    <div class="about_slider_wrapper float_left">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="about_image">
                                    <img src="{% static 'images/img6.jpg'%}" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="about_image">
                                    <img src="{% static 'images/service7.jpg'%}" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="about_image">
                                    <img src="{% static 'images/service5.jpg'%}" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="about_image">
                                    <img src="{% static 'images/service6.jpg'%}" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 col-12 col-sm-12 offset-lg-1">
                    <div class="about_text_wrapper">
                        <h5 left_jb_jeading style="text-align:Center"><span> Our Belief</span></h5><br>
                        <p left_jb_jeading style="text-align:left">
                            Career strategy has changed significantly over the decade. What your parents went through was about vertical progression. 
                            In a post-digital economy, JobWorth takes a fresh approach in career planning.</p><br>
                        <p left_jb_jeading style="text-align:left"> 1) Gaining job skills in your horizontal career progression.</p>
                        <p left_jb_jeading style="text-align:left"> 2) Exploring opportunities to help you build a portfolio..</p> 
                        <p left_jb_jeading style="text-align:left"> 3) Building your JobWorth to stay ahead of competition.</p>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- work Wrapper end -->
    <!-- counter wrapper start-->
    <div class="counter_wrapper jb_cover">
        <div class="counter_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="counter_mockup_design jb_cover">
                        <div class="animation-circle-inverse"><i></i><i></i><i></i></div>
                        <img src="{% static 'images/mockup2.png'%}" class="img-responsive" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="counter_right_wrapper jb_cover">
                        <h1>Fun Facts About Career Planning</h1>
                        
                        <div class="counter_width">
                            <div class="counter_cntnt_box">

                                <div class="count-description"><span class="timer">34</span><span>%</span>
                                    <p class="con2">Change Job Within 1 Year</p>
                                </div>
                            </div>
                        </div>
                        <div class="counter_width">
                            <div class="counter_cntnt_box">

                                <div class="count-description"> <span class="timer">3</span><span>%</span>
                                    <p class="con2">Salary Increment for Current Staff</p>
                                </div>
                            </div>
                        </div>
                        <div class="counter_width">
                            <div class="counter_cntnt_box">

                                <div class="count-description"> <span class="timer">18</span><span>%</span>
                                    <p class="con2">More Salary For New Hires</p><br>
                                </div>
                            </div>
                        </div><br>
                        <p>
                            <a style="color:white" href="https://www.channelnewsasia.com/news/commentary/career-mobility-new-normal-career-stability-job-hopping-11469760">
                                Statistics quoted from ChannelNewsAsia
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter wrapper end-->
    <!-- job agency Wrapper Start -->
    <div class="job_agency_wrapper jb_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12 col-sm-12">
                    <div class="jb_heading_wraper left_jb_jeading">

                        <h3>JobWorth - Our Services</h3>

                    </div>
                    <div class="grow_next_text agency_main_wrapper jb_cover">
                        <p> 
                            JobWorth creates value to Job Seekers by providing services based on individual needs. 
                        </p>
                        
                        <p>
                            Analyze - Provides a dashboard to help you make decision on the next move.   
                        </p>

                        <p>
                            Resume Template - Each subscription comes with a basic Resume Template. Classic and Premium subscriptions offer more templates. Choose templates that 
                            help you bring out your experience and job skills.  
                        </p>
                        
                        <p> 
                            Resume Update - Resume details are updated automatically based on your choice of settings.  
                        </p>

                        <p> 
                            Builder - Build resumes that help you feature your strength. 
                        </p>

                        <p>
                            Registration is needed to purchase the subscription service. As JobWorth wants to deliver the best value to genuine Candidates, there will be an 
                            undisclosed quota on registration in every region.
                        </p>

                        <div class="header_btn search_btn jb_cover">

                            <a href="#">Check Pricing</a>


                        </div><br>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12 col-sm-12">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-12 col-sm-12">
                            <div class="company_main_wrapper">
                                <div class="company_img_wrapper">
                                    <img src="{% static 'images/cmp3.png'%}" alt="team_img1">
                                    <div class="btc_team_social_wrapper">
                                        <h1>Register</h1>
                                    </div>
                                </div>
                                <div class="opening_job">
                                    <h1><a href="#">Limited Quota</a></h1></div>
                                <div class="company_img_cont_wrapper">
                                    <h4>Analyze</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12 col-sm-12">
                            <div class="company_main_wrapper">
                                <div class="company_img_wrapper">
                                    <img src="{% static 'images/cmp3.png'%}" alt="team_img1">
                                    <div class="btc_team_social_wrapper">
                                        <h1>Register</h1>
                                    </div>
                                </div>
                                <div class="opening_job">
                                    <h1><a href="#">Limited Quota</a></h1></div>
                                <div class="company_img_cont_wrapper">
                                    <h4>Resume Template</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 col-sm-12">
                            <div class="company_main_wrapper">
                                <div class="company_img_wrapper">
                                    <img src="{% static 'images/cmp4.png'%}" alt="team_img1">
                                    <div class="btc_team_social_wrapper">
                                        <h1>Register</h1>
                                    </div>
                                </div>
                                <div class="opening_job">
                                    <h1><a href="#">Basic Function</a></h1></div>
                                <div class="company_img_cont_wrapper">
                                    <h4>Resume Update</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 col-sm-12">
                            <div class="company_main_wrapper">
                                <div class="company_img_wrapper">
                                    <img src="{% static 'images/cmp4.png'%}" alt="team_img1">
                                    <div class="btc_team_social_wrapper">
                                        <h1>Register</h1>
                                    </div>
                                </div>
                                <div class="opening_job">
                                    <h1><a href="#">Limited Quota</a></h1></div>
                                <div class="company_img_cont_wrapper">
                                    <h4>Builder</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- job agency Wrapper end -->

    <!-- job review wrapper start-->
    <div class="job_rivew_wrapper jb_cover">
        <div class="job_rivew_img">
            <img src="{% static 'images/mockup3.png'%}" alt="img">
        </div>
        <div class="job_rivew_testimonial">
            <div class="jb_heading_wraper left_rivew_heading">

                <h3>What Candidates Say...</h3>

                <p>A feature of what our satisfied Candidates say about our service.</p>
            </div>
            <div class="rivew_testimonial_slider jb_cover">
                <div class="owl-carousel owl-theme">
                    <div class="item">

                        <div class="jb_saying_content_wrapper jb_cover">
                            <div class="saying_img">
                                <img src="{% static 'images/testi.png'%}" alt="img">
                            </div>
                            <div class="rating_star"><i class="flaticon-star-1"></i><i class="flaticon-star-1"></i><i class="flaticon-star-1"></i><i class="flaticon-star"></i><i class="flaticon-star"></i></div>

                            <p>“ I don't always clap, but when I do, it'sbecause of Sella. We can't understandhow we've been Sella. ”</p>
                            <div class="jb_saying_img_name">
                                <h1><a href="#">Marita Irene</a></h1>
                                <p>Support Manager @ Echo</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="jb_saying_content_wrapper jb_cover">
                            <div class="saying_img">
                                <img src="{% static 'images/testi1.png'%}" alt="img">
                            </div>
                            <div class="rating_star"><i class="flaticon-star-1"></i><i class="flaticon-star-1"></i><i class="flaticon-star-1"></i><i class="flaticon-star"></i><i class="flaticon-star"></i></div>
                            <p>“ I don't always clap, but when I do, it'sbecause of Sella. We can't understandhow we've been Sella. ”</p>
                            <div class="jb_saying_img_name">
                                <h1><a href="#">Marita Irene</a></h1>
                                <p>Support Manager @ Echo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- job rivew wrapper end-->

    <!-- download app wrapper end-->
    <div class="jb_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="job_newsletter_wrapper jb_cover">
                        <div class="jb_newslwtteter_left">
                            <h2> Stay ahead of competition</h2>
                            <p>Take action and register now.</p>
                        </div>
                        <div class="jb_newslwtteter_button">
                            <div class="header_btn search_btn news_btn jb_cover">

                                <a href="{% url 'register'%}">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}