{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="jb_category_wrapper jb_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                <div class="jb_heading_wraper left_jb_jeading">
                <h4>Sitemap Video links</h4><br>
                
                <p style="color:#212529">
                    <a href="https://www.youtube.com/watch?v=abgxvrNqNkw">Robots and Sitemaps</a>
                </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}