{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="jb_category_wrapper jb_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                <div class="jb_heading_wraper left_jb_jeading">
                <h4>General</h4><br>

                <p style="color:#212529">
                By accessing and placing an order with JobWorth, you confirm that you are in agreement with and bound by the terms and conditions contained in the Terms Of Use outlined below. These terms apply to the entire website and any email or other type of communication between you and JobWorth.
                </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                <div class="jb_heading_wraper left_jb_jeading">
                <h4>Products</h4><br>

                <p style="color:#212529">
                All products and services are delivered by JobWorth electronically through your online account. JobWorth is not responsible for any technological delays beyond our control.
                </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                <div class="jb_heading_wraper left_jb_jeading">
                <h4>Licensing and Ownership</h4><br>

                <p style="color:#212529">
                Ownership to the product is governed by the specific license, chosen at purchase time. Additional licensing rules may apply if any the products contain third party components, widgets or products.
                </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                <div class="jb_heading_wraper left_jb_jeading">
                <h4>Credit Card Processing</h4><br>

                <p style="color:#212529">
                A third-party service provider is used by us to manage credit card processing. This service provider is not permitted to store, retain, or use your personal information except for the sole purpose of credit card processing on our behalf.
                </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
                <div class="jb_heading_wraper left_jb_jeading">
                <h4>Privacy Policy</h4><br>

                <p style="color:#212529">
                    JobWorth is concerned about your privacy and has developed a policy to address privacy concerns. For more information, please see JobWorth's <a href="{% url 'privacy'%}">Privacy Policy</a>.
                </p><br>
                
                <p style="color:#212529">
                    Any personal information collected on this Site may be accessed and stored globally and will be treated in accordance with JobWorth's <a href="{% url 'privacy'%}">Privacy Policy</a>. You understand that JobWorth collects, uses, processes, possesses, and otherwise stores your personal information and utilization data and may share such utilization data with third party service providers for the purpose of improving or providing services subject to JobWorth's <a href="{% url 'privacy'%}">Privacy Policy</a>.
                </p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}