{% extends 'base.html' %} 
{% load static %} 
{% block content %}

    <!-- top header wrapper start -->
    <div class="page_title_section">

        <div class="page_header">
            <div class="container">
                <div class="row">
                    <!-- section_heading start -->
                    <div class="col-lg-9 col-md-8 col-12 col-sm-7">

                        <h1>Login</h1>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12 col-sm-5">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="#"> Home </a>&nbsp; / &nbsp; </li>
                                <li>Login</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- top header wrapper end -->

    <!-- login wrapper start -->
    <div class="login_wrapper jb_cover rowMB">
        <div class="container">
            <div class="row rowMB">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="login_top_box jb_cover">
                        <div class="login_banner_wrapper">
                            <img src="{% static 'images/logo.png'%}" alt="logo">
                            <div class="header_btn search_btn facebook_wrap jb_cover">

                                <a href="#">login with facebook <i class="fab fa-facebook-f"></i></a>

                            </div>
                            <div class="header_btn search_btn google_wrap jb_cover">

                                <a href="#">login with pinterest <i class="fab fa-pinterest-p"></i></a>

                            </div>
                            <div class="jp_regis_center_tag_wrapper jb_register_red_or">
                                <h1>OR</h1>
                            </div>
                        </div>
                        <div class="login_form_wrapper">
                            <!-- Invalid Password -->
                            <div class="pb-4 d-none">
                                <div class="card">
                                    <div class="card-body successCard bgCard">
                                        <i class="fas fa-exclamation-triangle invalidCard"></i>
                                        <span class="pl-3 pb-0 invalidCard">Invalid Password</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Successfull -->
                            <div class="pb-4 d-none successPage">
                                <div class="card">
                                    <div class="card-body successCard success">
                                        <i class="fas fa-check-circle invalidCard"></i>
                                        <span class="pl-3 pb-0 invalidCard">Login Successfully</span>
                                    </div>
                                </div>
                            </div>

                            <h2>Login</h2>
                            <div class="form-group icon_form comments_form">

                                <input type="email" class="form-control require" name="email" placeholder="Email Address*">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="form-group icon_form comments_form">

                                <input type="password" class="form-control require" placeholder="Password *">
                                <i class="fas fa-eye passwordIcon"></i>
                            </div>
                            <div class="login_remember_box">
                                <label class="control control--checkbox">Remember me
                                    <input type="checkbox">
                                    <span class="control__indicator"></span>
                                </label>
                                <a href="{% url 'cfpwd' %}" class="forget_password">
									Forgot Password
								</a>
                            </div>
                            <div class="header_btn search_btn login_btn jb_cover">

                                <a href="#">login</a>
                            </div>
                            <div class="dont_have_account jb_cover">
                                <p>Don’t have an acount ? <a href="{% url 'register'%}">Register with JobWorth</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- login wrapper end -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script>

        $(document).ready(function(){
            //alert('ready');
            $('.passwordIcon').on('click',function(e){
                var target = e.currentTarget
                $(target).hasClass('show')?hidePassword($(target)):showPassword($(target))

            });

            $('.login_btn').on('click',function(){
              $('.successPage').removeClass('d-none');
            });
        });

        function hidePassword(e){
            e.removeClass('show').addClass('hide')
            e.prev('input').attr('type','password')
        }
        function showPassword(e){
            e.removeClass('hide').addClass('show')
            e.prev('input').attr('type','text')
        }
       

    </script>


    {% endblock content %}
    