{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- top header wrapper start -->
    <div class="page_title_section">

        <div class="page_header">
            <div class="container">
                <div class="row">
                    <!-- section_heading start -->
                    <div class="col-lg-9 col-md-9 col-12 col-sm-8">

                        <h1>Employers</h1>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12 col-sm-4">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="/"> Home </a>&nbsp; / &nbsp; </li>
                                <li>Employers</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- top header wrapper end -->
    <!--companies wrapper start -->
    <div class="companies_wrapper jb_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="filter-area jb_cover">

                        <select>
                            <option>sort by</option>
                            <option>most recent </option>
                            <option>most popular</option>
                            <option>top rated</option>
                        </select>

                        <div class="showpro">
                            <p>You're Watching 01 to 20</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="company_main_wrapper">
                        <div class="company_img_wrapper">
                            <img src="{% static 'images/cmp1.png'%}" alt="team_img1">
                            <div class="btc_team_social_wrapper">
                                <h1>(usa)</h1>
                            </div>
                        </div>
                        <div class="opening_job">
                            <h1><a href="#">04 job open</a></h1></div>
                        <div class="company_img_cont_wrapper">
                            <h4>Akshay INC.</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="company_main_wrapper">
                        <div class="company_img_wrapper">
                            <img src="{% static 'images/cmp2.png'%}" alt="team_img1">
                            <div class="btc_team_social_wrapper">
                                <h1>(usa)</h1>
                            </div>
                        </div>
                        <div class="opening_job">
                            <h1><a href="#">25 job open</a></h1></div>
                        <div class="company_img_cont_wrapper">
                            <h4>burger patty</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="company_main_wrapper">
                        <div class="company_img_wrapper">
                            <img src="{% static 'images/cmp4.png'%}" alt="team_img1">
                            <div class="btc_team_social_wrapper">
                                <h1>(usa)</h1>
                            </div>
                        </div>
                        <div class="opening_job">
                            <h1><a href="#">14 job open</a></h1></div>
                        <div class="company_img_cont_wrapper">
                            <h4>company LTD.</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="company_main_wrapper">
                        <div class="company_img_wrapper">
                            <img src="{% static 'images/cmp3.png'%}" alt="team_img1">
                            <div class="btc_team_social_wrapper">
                                <h1>(usa)</h1>
                            </div>
                        </div>
                        <div class="opening_job">
                            <h1><a href="#">25 job open</a></h1></div>
                        <div class="company_img_cont_wrapper">
                            <h4>pico Bank</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="company_main_wrapper">
                        <div class="company_img_wrapper">
                            <img src="{% static 'images/cmp4.png'%}" alt="team_img1">
                            <div class="btc_team_social_wrapper">
                                <h1>(usa)</h1>
                            </div>
                        </div>
                        <div class="opening_job">
                            <h1><a href="#">14 job open</a></h1></div>
                        <div class="company_img_cont_wrapper">
                            <h4>company LTD.</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="company_main_wrapper">
                        <div class="company_img_wrapper">
                            <img src="{% static 'images/cmp4.png'%}" alt="team_img1">
                            <div class="btc_team_social_wrapper">
                                <h1>(usa)</h1>
                            </div>
                        </div>
                        <div class="opening_job">
                            <h1><a href="#">14 job open</a></h1></div>
                        <div class="company_img_cont_wrapper">
                            <h4>company LTD.</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="company_main_wrapper">
                        <div class="company_img_wrapper">
                            <img src="{% static 'images/cmp2.png'%}" alt="team_img1">
                            <div class="btc_team_social_wrapper">
                                <h1>(usa)</h1>
                            </div>
                        </div>
                        <div class="opening_job">
                            <h1><a href="#">25 job open</a></h1></div>
                        <div class="company_img_cont_wrapper">
                            <h4>burger patty</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="company_main_wrapper">
                        <div class="company_img_wrapper">
                            <img src="{% static 'images/cmp1.png'%}" alt="team_img1">
                            <div class="btc_team_social_wrapper">
                                <h1>(usa)</h1>
                            </div>
                        </div>
                        <div class="opening_job">
                            <h1><a href="#">04 job open</a></h1></div>
                        <div class="company_img_cont_wrapper">
                            <h4>Akshay INC.</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="company_main_wrapper">
                        <div class="company_img_wrapper">
                            <img src="{% static 'images/cmp2.png'%}" alt="team_img1">
                            <div class="btc_team_social_wrapper">
                                <h1>(usa)</h1>
                            </div>
                        </div>
                        <div class="opening_job">
                            <h1><a href="#">25 job open</a></h1></div>
                        <div class="company_img_cont_wrapper">
                            <h4>burger patty</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="company_main_wrapper">
                        <div class="company_img_wrapper">
                            <img src="{% static 'images/cmp1.png'%}" alt="team_img1">
                            <div class="btc_team_social_wrapper">
                                <h1>(usa)</h1>
                            </div>
                        </div>
                        <div class="opening_job">
                            <h1><a href="#">04 job open</a></h1></div>
                        <div class="company_img_cont_wrapper">
                            <h4>Akshay INC.</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="company_main_wrapper">
                        <div class="company_img_wrapper">
                            <img src="{% static 'images/cmp4.png'%}" alt="team_img1">
                            <div class="btc_team_social_wrapper">
                                <h1>(usa)</h1>
                            </div>
                        </div>
                        <div class="opening_job">
                            <h1><a href="#">14 job open</a></h1></div>
                        <div class="company_img_cont_wrapper">
                            <h4>company LTD.</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="company_main_wrapper">
                        <div class="company_img_wrapper">
                            <img src="{% static 'images/cmp2.png'%}" alt="team_img1">
                            <div class="btc_team_social_wrapper">
                                <h1>(usa)</h1>
                            </div>
                        </div>
                        <div class="opening_job">
                            <h1><a href="#">25 job open</a></h1></div>
                        <div class="company_img_cont_wrapper">
                            <h4>burger patty</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="company_main_wrapper">
                        <div class="company_img_wrapper">
                            <img src="{% static 'images/cmp3.png'%}" alt="team_img1">
                            <div class="btc_team_social_wrapper">
                                <h1>(usa)</h1>
                            </div>
                        </div>
                        <div class="opening_job">
                            <h1><a href="#">25 job open</a></h1></div>
                        <div class="company_img_cont_wrapper">
                            <h4>pico Bank</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="company_main_wrapper">
                        <div class="company_img_wrapper">
                            <img src="{% static 'images/cmp1.png'%}" alt="team_img1">
                            <div class="btc_team_social_wrapper">
                                <h1>(usa)</h1>
                            </div>
                        </div>
                        <div class="opening_job">
                            <h1><a href="#">04 job open</a></h1></div>
                        <div class="company_img_cont_wrapper">
                            <h4>Akshay INC.</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="company_main_wrapper">
                        <div class="company_img_wrapper">
                            <img src="{% static 'images/cmp4.png'%}" alt="team_img1">
                            <div class="btc_team_social_wrapper">
                                <h1>(usa)</h1>
                            </div>
                        </div>
                        <div class="opening_job">
                            <h1><a href="#">14 job open</a></h1></div>
                        <div class="company_img_cont_wrapper">
                            <h4>company LTD.</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="company_main_wrapper">
                        <div class="company_img_wrapper">
                            <img src="{% static 'images/cmp1.png'%}" alt="team_img1">
                            <div class="btc_team_social_wrapper">
                                <h1>(usa)</h1>
                            </div>
                        </div>
                        <div class="opening_job">
                            <h1><a href="#">04 job open</a></h1></div>
                        <div class="company_img_cont_wrapper">
                            <h4>Akshay INC.</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="blog_pagination_section jb_cover">
                        <ul>
                            <li>
                                <a href="#" class="prev"> <i class="flaticon-left-arrow"></i> </a>
                            </li>
                            <li><a href="#">1</a>
                            </li>
                            <li class="third_pagger"><a href="#">2</a>
                            </li>
                            <li class="d-block d-sm-block d-md-block d-lg-block"><a href="#">3</a>
                            </li>
                            <li class="d-none d-sm-block d-md-block d-lg-block"><a href="#">...</a>
                            </li>
                            <li class="d-none d-sm-block d-md-block d-lg-block"><a href="#">6</a>
                            </li>

                            <li>
                                <a href="#" class="next"> <i class="flaticon-right-arrow"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- companies wrapper end -->


	 <!-- chat box Wrapper start -->
	<div id="chat-circle" class="btn btn-raised"> 
		<i class="fas fa-comment-alt"></i>
	</div>
  <div class="chat-box">
    <div class="chat-box-header">
      ChatBot
      <span class="chat-box-toggle"><i class="fas fa-times"></i></span>
    </div>
    <div class="chat-box-body">
      <div class="chat-box-overlay">   
      </div>
      <div class="chat-logs">
       
      </div><!--chat-log -->
    </div>
    <div class="chat-input">      
      <form>
        <input type="text" id="chat-input" placeholder="Send a message..."/>
      <button type="submit" class="chat-submit" id="chat-submit"><i class="fas fa-paper-plane"></i></button>
      </form>      
    </div>
  </div>
  <!-- chat box Wrapper end -->
    <!--custom js files-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/jquery.menu-aim.js"></script>
    <script src="js/plugin.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.countTo.js"></script>
	 <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/dropify.min.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- custom js-->
{% endblock content %}